* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: sans-serif;
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgb(212, 80, 80);
}

.app {
  padding: 3rem;
  font-size: 1.4rem;
  background-color: bisque;
  border-radius: 8px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.25);
}

.form__login-input {
  padding: 0.3rem;
}

.form__login-button {
  padding: 0.3rem;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form__login-error {
  margin-top: 1rem;
  font-size: 1rem;
  color: red;
}

.users__container {
  margin-bottom: 2rem;
}

.users {
  list-style: none;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(169, 169, 236);
}

.messages__container {
  margin-bottom: 2rem;
}

.messages {
  list-style: none;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(147, 198, 176);
}

.message__sender {
  color: rgb(207, 73, 11);
}

.user__container {
  background-color: rgb(185, 121, 168);
  color: white;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  line-height: 1.6;
}

.form__logout-button {
  padding: 0.3rem;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.form__message-input {
  padding: 0.3rem;
}

.form__message-button {
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form__message-error {
  margin-top: 1rem;
  font-size: 1rem;
  color: red;
}
