*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  background-color: bisque;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.submissions.login {
  grid-column: span 2;
  border-radius: 10px;
  background-color: rgb(133, 220, 244);
}

.login input {
  padding: 0.5rem;
}

.login-button {
  border: none;
  padding: 0.5rem;
  background-color: rgb(80, 179, 105);
  color: aliceblue;
  border-radius: 8px;
}

.login-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

#login-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  background-color: rgb(133, 220, 244);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

.login-text {
  grid-column: 1;
}

.logout-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.logout-button {
  border: none;
  padding: 0.5rem;
  background-color: rgb(242, 96, 96);
  color: aliceblue;
  border-radius: 8px;
}

.logout-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

.word input {
  padding: 0.5rem;
}

.word-button {
  border: none;
  padding: 0.5rem;
  background-color: rgb(80, 179, 105);
  color: aliceblue;
  border-radius: 8px;
}

.word-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}
