.app {
  height: 100%;
  display: grid;
  place-content: center;
}

.main {
  height: 100%;
  min-width: max-content;
}

.content {
  padding: 2rem;
  min-width: max-content;
  background-color: #b18396;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login__info {
  font-size: 1.5rem;
}
