.controls {
  display: flex;
  gap: 1rem;
}

.controls__button {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.controls__logout {
  background-color: rgb(255, 87, 87);
}
